/vendor
/node_modules
/web/node_modules
/web/.next
*.tsbuildinfo
/api/.venv
**/*.egg-info/
**/__pycache__/
.pytest_cache/
.ruff_cache/
/.idea
/.vscode
.env
.env.local
!**/.env.example
.env.prod
secrets/
/public
/public/fonts
/public/css
/public/js
public/css/app.css
public/css/app.css
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.eot
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.svg
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.ttf
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.woff
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.woff2
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.eot
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.svg
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.ttf
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.woff
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.woff2
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.eot
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.svg
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.ttf
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.woff
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.woff2
public/js/app.js
public/js/jquery/dashboard.js
public/js/jquery/global.js
public/js/jquery/modules/admin/create_permission.js
public/js/jquery/modules/admin/create_profile.js
public/js/jquery/modules/admin/create_user.js
public/js/jquery/modules/admin/edit_user.js
public/js/jquery/modules/admin/edit_user_profile.js
public/js/jquery/modules/admin/list.js
public/js/jquery/modules/meeting/meeting.js
public/js/jquery/modules/meeting/meeting_update.js
public/js/jquery/modules/occurrence/occurrence_create.js
public/js/jquery/modules/occurrence/occurrence_update.js
public/js/jquery/modules/shiftReport/shiftReport.js
public/js/jquery/modules/shiftReport/shiftReport_list.js
public/js/jquery/modules/shiftReport/shiftReportUpdate.js
public/mix-manifest.json
public/css/app.css
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.eot
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.svg
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.ttf
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.woff
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.woff2
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.eot
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.svg
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.ttf
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.woff
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.woff2
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.eot
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.svg
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.ttf
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.woff
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.woff2
public/js/app.js
public/js/jquery/dashboard.js
public/js/jquery/global.js
public/js/jquery/modules/admin/create_permission.js
public/js/jquery/modules/admin/create_profile.js
public/js/jquery/modules/admin/create_user.js
public/js/jquery/modules/admin/edit_user.js
public/js/jquery/modules/admin/edit_user_profile.js
public/js/jquery/modules/admin/list.js
public/js/jquery/modules/meeting/meeting.js
public/js/jquery/modules/meeting/meeting_update.js
public/js/jquery/modules/occurrence/occurrence_create.js
public/js/jquery/modules/occurrence/occurrence_update.js
public/js/jquery/modules/shiftReport/shiftReport.js
public/js/jquery/modules/shiftReport/shiftReport_list.js
public/js/jquery/modules/shiftReport/shiftReportUpdate.js
public/mix-manifest.json
public/mix-manifest.json
